@import "../../../styles/main.scss";

.auth {
  width: 100%;
  text-align: center;
  color: white;
}

.auth h4 {
  margin: 3px;
  font-size: $title-font-size;
}

.auth input {
  width: 95%;
  border: none;
  margin: 5px 0;
  font-size: $default-font-size;
  padding: 5px;
  line-height: 1.5;
  text-align: center;
  outline: none;
}

.auth .buttonWrapper {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.auth button {
  @include smallButton;
  flex: 1;
  margin: 5px;
  font-size: $small-font-size;
}
