.Auth {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  outline: none;
  color: white;
}
.Auth input {
  width: 100%;
  text-align: center;
  outline: none;
}
.Auth button {
  width: 100%;
  text-align: center;
  outline: none;
  background: black;
  color: white;
}
