$default-font: 1em;
$default-font-mobile: .8em;
$title-font: 1.2em;
$title-font-mobile: 1em;
$small-font: .6em;

$main-background-color: #080F5b;
$secondary-background-color: #0D19a3;
$input-color: lightsteelblue;
$contrast-color: #F4e4c1;

$font-color: #000000;
