$small-font-size: 0.7rem;
$default-font-size: 1rem;
$title-font-size: 1.1rem;
$large-font-size: 2.3rem;

$default-font-size-mobile: 0.8rem;
$title-font-size-mobile: 1rem;

$main-background-color: white;
$secondary-background-color: #659dbd;
// $input-color: linear-gradient(to bottom, #7f53ac 0, #657ced 100%);
$cell-background-color: #659dbd;
$font-color: black;
// $button-color: #d3d3d3;
$button-color: #fff;

$font-color: #000000;

$purple-gradient: linear-gradient(to bottom, #7f53ac 0, #657ced 100%);
