$small-font-size: 0.7em;
$default-font-size: 1em;
$title-font-size: 1.2em;
$large-font-size: 2.5em;

$default-font-size-mobile: 0.8em;
$title-font-size-mobile: 1em;

$main-background-color: white;
$secondary-background-color: #659dbd;
// $input-color: linear-gradient(to bottom, #7f53ac 0, #657ced 100%);
$cell-background-color: #659dbd;
$font-color: black;
$button-color: #d3d3d3;

$font-color: #000000;

$purple-gradient: linear-gradient(to bottom, #7f53ac 0, #657ced 100%);
