@import "../../../styles/main.scss";

.compactView {
  width: 100%;
  background: $secondary-background-color;
  text-align: center;
  padding: 2vh;
}

.compactView h1 {
  color: white;
  font-size: 2vh;
}

.compactView .compactView-emphasis {
  font-size: 3.5vh;
}
