@import "../../../styles/main.scss";

.compactView {
  width: 100%;
  background: $secondary-background-color;
  text-align: center;
  padding: 2vh;
}

.compactView h1 {
  color: white;
  margin-bottom: 1vh;
  font-size: 1.7vh;
}

.compactView .compactView-emphasis {
  font-size: 3vh;
  font-weight: 500;
}
