@import "../../../styles/main.scss";

.compactView {
  width: 100%;
  background: $secondary-background-color;
  display: flex;
  justify-content: center;
}

.compactView h1 {
  color: white;
  font-size: 2vh;
  margin: 2vh 2vh;
}
