@import "../../../../styles/main.scss";

.LabelCell {
  @include weekRow;
  @include weekRow-label;
}

.LabelCell div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobileViewHide {
  @include mobile-device-no-display;
}
