@import "../../../styles/main.scss";

.saveMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.saveLabel {
  font-size: 11px;
  color: gray;
}

.saveMenu button {
  @include smallButton;
  width: 75%;
  margin: 1vh auto;
  font-size: 14px;
  height: 40px;
}

@include mobile-device {
  .saveMenu {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .saveMenu button {
    font-size: $small-font-size;
    width: 34%;
    margin: 5px;
    overflow: hidden;
  }

  .saveLabel {
    visibility: hidden;
  }
}
