@import "../../../styles/main.scss";

.weekLabel {
  background: $main-background-color;
  position: relative;
  z-index: 2;
  display: block;
  border-bottom: 1px solid black;
  justify-content: center;
}

.weekLabel-wrapper {
  display: flex;
  padding: 10px 0;
  text-align: center;
}

.weekLabel-wrapper div {
  @include weekLabel-label;
}


@media only screen and (max-width: 910px) {
  .weekLabel {
    font-size: $default-font-size-mobile;
  }

  .noMobile {
    display: none;
  }
}
