@import "../../../styles/main.scss";

.weekRow {
  background: $secondary-background-color;
  border-top: 1px solid black;
}

.weekRow-wrapper {
  display: flex;
  padding: 0 10%;
  text-align: center;
  align-items: center;
}

.weekRow-entry {
  flex: 1;
  font-weight: 600;
}
.weekRow-entry input {
  width: 100%;
  border: none;
  outline-color: black;
  background: $input-color;
  font-size: $default-font;
  margin: 0;
  padding: 4px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
}

@media only screen and (max-width: 910px) {
  .weekRow {
    font-size: $default-font-mobile;
  }
  .weekRow-wrapper {
    padding: 0;
  }
  .noMobile {
    display: none;
  }
}
