.clock {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  outline: none;
  color: white;
}

.clock h1 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 2.5vw;
}
.clock h3 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1vw;
}
