@import "./styles/main.scss";

.App {
  color: $font-color;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.side-bar {
  flex: 1;
  min-width: 250px;
  height: 100vh;
  position: sticky;
  top: 0;
  background: $secondary-background-color;
}

.main-window {
  flex: 4;
  height: 100%;
}
