@import "./styles/main.scss";

.App {
  color: $contrast-color;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.side-bar {
  flex: 1;
  height: 100vh;
  position: sticky;
  top: 0;
  background: $input-color;
  border: 1px solid $input-color;
}

.main-window {
  flex: 4;
  height: 100%;
}
